@font-face {
  font-family: "fortuneCookie";
  src: url("font/ExplorerFree-Regular.woff");
}

@font-face {
  font-family: "futura";
  src: url("font/FuturaBoldBT.woff");
}

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --gradient: linear-gradient(90deg, #ee6352, purple, #ee6352);
}

*::selection {
  color: var(--hover-color);
}

html {
  --bg-color: #242038d7;
  --primary-color: #47126b;
  --secondary-color: #6d23b6;
  --hover-color: #ac46a1;
  --light-color: #ea698b;
  --white-color: #ffffff;
  --high-color: #ffed6c;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  color: #333;
  background: #ddd;
  background-size: 300%;
  background-image: var(--gradient);
  animation: bg-animation 40s infinite;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cat > img {
  width: 200px;
}

h1, h3 {
  margin: 0;
}

.fortune {
  margin: 20px 0;
}

.title {
  font-family: "fortuneCookie";
  font-weight: 200;
  height: 3rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.slogan {
  font-size: 16px;
  color: var(--high-color);
  text-align: center;
}

.phrase {
  margin-top: 80px;
  min-width: 8rem;
  min-height: 8rem;
  text-align: center;
}

#fortune-text {
  height: 3rem;
  color: rgba(255, 255, 255, 0.9);
  font-style: italic;
  padding-bottom: 5rem;
}

.generate-phrase {
  font-family: "futura";
}

button.generate-phrase {
  font-weight: 700;
  padding: 10px;
  border: 7px solid white;
  background: rgba(255, 255, 255, 0);
  color: white;
  border-radius: 10px;
  transition: 200ms ease-in;
  user-select: none;
  font-size: 1.2rem;
  cursor: pointer;
  box-sizing: border-box;
}

button.generate-phrase:hover {
  background: rgba(255, 255, 255, 0.3);
}

button.generate-phrase:active {
  background: rgba(255, 255, 255, 0.6);
  transform: translateY(10px);
}

button.generate-phrase:focus {
  outline: 0;
}

@keyframes shake {
  20% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-2deg);
  }
  70% {
    transform: rotate(2deg);
  }
}

.madre {
  margin-top: 20px;
  text-align: center;
  color: #000;
  font-size: 1rem;
}

.madre a {
  color: #000; /* Color normal del hipervínculo */
  text-decoration: none; /* Eliminar subrayado */
}

.madre a:visited {
  color: var(--high-color); /* Color para hipervínculos visitados */
}

/* Estilo para las imágenes de sparks */
.spark {
  position: absolute;
  width: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: 50px;
  opacity: 1;
  animation: fadeOut 5000ms forwards;
  pointer-events: none;
  z-index: 0;
}

/* Animación de desvanecimiento */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

/* Modal styles */
.modal {
  display: none; 
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Disable scroll */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Dropdown Menu */
.language-selector {
  position: absolute;
  top: 1rem;
  right: 5rem;
}

.dropbtn {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  align-items: center;
}

.dropbtn img {
  margin-right: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white-color);
  min-width: 5.15rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0 0 1rem 1rem;
}

.dropdown-content button {
  background: none;
  border: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 100%;
  cursor: pointer;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  align-items: center;
}

.dropdown-content button img {
  margin-right: 5px;
}

.dropdown-content button:hover {
  background-color: var(--light-color);
}

.language-selector:hover .dropdown-content {
  display: block;
}

.language-selector:hover .dropbtn {
  background-color: var(--hover-color);
}

/* CSS de ongoing */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  margin-top: 30px;
}

h1 {
  margin: 0;
}

.fortune-p {
  margin-bottom: 20px;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

main ol {
  padding-left: 20px;
}

main ol p {
  max-width: calc(100% - 40px);
}

.fortune-li ul li {
  margin-left: 20px;
}

section {
  margin-bottom: 30px;
}

h2 {
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 1rem 5% 3rem 0;
  width: 100%;
  font-weight: 900;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--white-color);
  font-size: 1.5rem;
  background: none;
  border: none;
  padding: 12px 18px;
  cursor: pointer;
  letter-spacing: 0.05rem;
  font-weight: 600;
}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  z-index: -1;
  transform: translateX(calc(100% + 3.2rem)) translateY(-50%);
  width: 45px;
  height: 45px;
  background: #333;
  border-radius: 50px;
  transition: transform 0.25s 0.25s cubic-bezier(0, 0, 0.5, 2), width 0.25s cubic-bezier(0, 0, 0.5, 2);
}

.button:hover::before {
  width: 100%;
  transform: translateX(-18px) translateY(-50%);
  transition: transform 0.25s cubic-bezier(0, 0, 0.5, 2), width 0.25s 0.25s cubic-bezier(0, 0, 0.5, 2);
}

.button i {
  margin-left: 5px;
  transition: transform 0.25s 0.4s cubic-bezier(0, 0, 0.5, 2);
}

.button:hover i {
  transform: translateX(3px);
}

.button:active {
  scale: 1.1;
}

.button-container a {
  text-decoration: none;
}

/* ! Estilos responsive */
@media screen and (max-width: 768px) {
  header {
    padding: 10px;
    background-color: #333;
    border-radius: 20px;
  }

  main {
    padding: 10px;
  }

  #future-designs {
    padding: 10px;
    border-radius: 0;
  }

  main ol {
    list-style-type: none;
    padding-left: 0;
  }

  .phrase {
    margin-top: 50px;
    min-height: 8rem;
    min-width: 8rem;
    /* border: #ffc83d solid 1px; */
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .cat > img {
    width: 170px;
  }

  #fortune-text {
    height: auto;
    padding-bottom: 5rem;
    line-height: 0.5;
    font-size: 1rem;
  }

  .slogan {
    font-size: 14px;
    text-align: center;
  }

  button.generate-phrase {
    font-size: 1rem;
    padding: 8px;
    border: 5px solid white;
  }
}

.modal-content {
  width: 90%;
  padding: 15px;
}

.gif-container img {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
